@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
*{
    


    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Aldrich', sans-serif;
}
img{
    
}

#menu_btn{
    display: none;
}

a{
    text-decoration: none;
    color: #868796;
    margin: 0 0 10px 0;
    padding: 0 0 16px 0;
    font-size: 13px;
}
a.opcoes:hover{
    color: aqua;
}
li{
    margin: 0 10px;
    /*background-color: aqua;*/
    padding: 0 10px;
    display: inline;
}
body{
    background-color: #121212;
}
 html{
    box-sizing: border-box;
 }
 nav {
     background-color: #2a2a2a;
     height: auto;
     width: 100%;

     align-items: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
 }
 #conteudo_menu {
     padding: 30px 0;
     margin: 0 auto;
     /*background-color: white;*/
     height: auto;
     width: auto;
 }

 #conteudo{
    
     padding: 20px 0;
     margin: 0 auto;
     /*background-color: rgb(158, 158, 158);*/
     width: 70%;
     height: auto;
 }
 .apps{
    box-sizing: border-box;
     padding: 8px;
     float: left;
     width: 25%;
     height: auto;
     background-color: #121212;
 }
 .texto_maior{
    font-family: 'Aldrich', sans-serif;
    padding: 3px 0;
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
    
}
img.app_icon {
    border-radius: 5px;
}
img.app_icon:hover{
    filter: contrast(120%);
}
.nome_app{
    text-decoration: none;
    color: #868796;
    margin: 0 0 10px 0;
    padding: 0 0 16px 0;
    font-size: 13px;
}
footer{
    height: auto;
    width: 100%;
    background-color: #2a2a2a;
}
#texto-final{
    color: #868796;
    margin: 0 0 10px 0;
    padding: 0 0 16px 0;
    font-size: 9px;
}
#spaco1{
    height: 100px;
    background-color: brown;
}
#novidades{

    height: 300px;
    width: auto;
}
#img-nov{
    width: 100%;
    border-radius: 10px;
}
#sobre-mim{
    /*background-color: #fff;*/
    height: 300px;
    width: 100%;
}
#rodape{
    width: 80%;
    margin: 0 auto;
}
#texto-padrao{
    color: #868796;
    margin: 0 0 10px 0;
    padding: 0 0 16px 0;
    font-size: 12px;
}
#redes{
    margin: 0 auto;
    /*background-color: aqua;*/
    width: 100px;
    height: 30px;
}
#lista li{
    display: inline;
}
#btn{
    display: none;
}


@media screen and (max-width: 500px) {
    
    #menu_btn{
        display: block;
    }
    #btn{
        display: block;
    }
    
    .apps{
        width: 100%;
    }
    #conteudo_menu li{
        display: block;
    }
    #conteudo_menu a{
        font-size: 25px;
    }
    #sumir{
        display: none;
    }
    a#menu_btn:active{
       
    }
    /*menu lateral*/
    #check{
        display: none;
    }
    #icone{
        cursor: pointer;
        padding: 15px;
        position: absolute;
        z-index: 1;

        
    }
    .barra{
        background-color: #333;
        height: 100%;
        width: 300px;
        position: absolute;
        transition: all .2s linear;
        left: -300px;
    }
    .nav {
        width: 100%;
        position: absolute;
        top: 60px;
    }
    .nav a{
        text-decoration: none;
    }
    .link{
        background-color: #494950;
        padding: 20px;
        font-size: 12pt;
        transition: all .2s linear;
        border-bottom: 2px solid #222;
    }
    .link:hover{
        background-color: #050542;
    }
    #check:checked ~ .barra{
        transform: translate(300px);
    }
    #conteudo_menu{
        height: 40px;
    }
  }
